@font-face{
    src: url(../fonts/Exo2-Regular.ttf);
    font-family: 'exo-400', sans-serif;
    font-weight: 400;
}
@font-face{
    src: url(../fonts/Exo2-Bold.ttf);
    font-family: 'exo-700', sans-serif;
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Exo-400', sans-serif;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
.header .container .wrapper{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 30px;
}
.header .container .wrapper .menu{
    display: flex;
    gap: 20px;
}
.header .container .wrapper .menu .link{
    color: #201F1E;
    font-family: "exo-400", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header .container .wrapper .button{
    width: 163px;
    height: 50px;
    border: 1px solid #666;
}
.header .container .wrapper .button .btn{
    color: #666;
    font-family: "exo-400", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 15px;
}
.wakeup .container .wrapper{
    position: relative;
    margin-top: 50px;
}
.wakeup .container .wrapper img{
    border-radius: 10px;
    margin-top: 30px;
}
.wakeup .container .wrapper .title{
    color: #0A7F2E;
    font-family: "exo-600", sans-serif;
    font-size: 23px;
    font-weight: 600;
}
.wakeup .container .wrapper .box{
    width: 670px;
    height: 200px;
    background: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    margin: -150px 0 0 500px;
    position: absolute;
}
.wakeup .container .wrapper .box .text{
    color: #808080;
    font-family: "exo-400", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 10px;
}
.wakeup .container .wrapper .box .button{
    width: 157px;
    height: 43px;
    background: #0A7F2E;
    border-radius: 10px;
    margin-left: 500px; 
}
.wakeup .container .wrapper .box .button .btn{
    color: #FFF;
    font-family: "exo-600", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.wakeup .container .wrapper .fon{
    width: 370px;
    height: 250px;
    background: #CCC;
    position: absolute;
    margin: -205px 0 0 450px;
    z-index: -1;
    border-radius: 10px;
}
.wakeup .container .wrapper .vov{
    width: 400px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}
.wakeup .container .wrapper .vov .bot{
    width: 190px;
    height: 106px;
}
.wakeup .container .wrapper .vov .bot .title{
    color: #0A7F2E;
    font-family: "exo-600", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 72px;
}
.wakeup .container .wrapper .vov .bot .suptitle{
    color: #666;
    font-size: 20px;
}